/* Helpers */
body {
  background-color: #333333;
}

.heigth-100vh {
  height: 100vh;
}

.root {
  background-color: #333333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.montain-bear-logo {
  margin-top: 90px;
}

.logo-big {
  margin-top: 10px;
}

.logo-small {
}

.shadow {
}

.vertical-line {
  display: flex;
  width: 1px;
  height: 300px;
  border: 1px #bbb solid;
  margin: 30px 10px;
}

.btn-custom {
  margin-left: 100px;
  margin: 15px;
  border: 1px solid #ff2837;
  background-color: #ff2837;
  color: #f2f5f7;
  width: 180px;
  transition: all 0.5s;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #333333;
  color: #f2f5f7;
  box-shadow: 3px 3px #ff2837;
}

.register-link {
  color: #ff2837;
}

.register-link:hover {
  color: #333333;
}

.registration-header {
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.logo-mind {
  margin-top: 120px;
  margin-left: 130px;
}

.registration-body {
  margin-top: 10px;
  /* background-color: rgba(252, 252, 252, 0.76); */
  height: 388px;
}

.vertical-line-taller {
  display: flex;
  width: 1px;
  height: 410px;
  border: 1px #bbb solid;
  margin: 30px 10px;
}
.horizontal-line-taller {
  margin-right: 30px;
  display: flex;
  width: 1030px;
  height: 1px;
  border: 1px #ff2837 solid;
  margin: 35px 20px;
  margin-right: 30px;
}
.horizontal-line-shorter {
  display: flex;
  width: 400px;
  height: 1px;
  border: 1px #ff2837 solid;
  margin-top: 1px;
  margin-left: 465px;
  margin-bottom: 50px;
}
.disable-mensage {
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-layout {
  text-align: left;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 45px;
}
.btn-registrarion {
  margin-left: 1px;
}

.form-body {
  margin-left: 25px;
}

.form-names-layout {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 1px;
}

.info-comum {
  margin-bottom: 10px;
  margin-top: 22px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #333333;
}
.info-admin {
  margin-bottom: 10px;
  margin-top: 22px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #333333;
}

.aligh-btn-admin {
  margin-left: 37px;
}

.btn-in-admin {
  margin-left: 110px;
  margin-top: 20px;
}

.user-edit-btn {
  margin-left: 0px;
}

.image-user {
  margin-left: 135px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #333333;
}

.back-button {
  margin-top: 25px;
  margin-left: 330px;
  text-align: center;
}

.user-info {
  margin-top: 10px;
  margin-left: 10px;
}

.admin-dashbord {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-admin-custom {
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  border-color: #333333;
  margin-top: 10px;
  margin-bottom: 3px;
  border: 1px solid #ff2837;
  background-color: #333333;
  color: #f2f5f7;
  width: 180px;
  transition: all 0.5s;
  font-weight: bold;
}

.btn-admin-custom:hover {
  background-color: #666666;
  color: #f2f5f7;
  box-shadow: 3px 3px #ff2837;
}

.centralize {
  margin-top: 1000px;
  height: 100%;
  margin: auto;
}

.back-admin-button {
  position: absolute;
  margin-bottom: 30px;
  margin-left: 575px;
}
