/* Helpers */
body {
    background-color: #3D7B6C;
}

.heigth-100vh{
    height: 100vh;
}

.root {
    background-color: #3D7B6C;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-custom{
    border: 1px solid #17483C;
    background-color: #17483C;
    color: #f2f5f7;
    width: 180px;
    transition: all 0.5s;
    font-weight: bold;
}

.btn-custom:hover{
    background-color: #f2f5f7;
    color: #17483C;
    box-shadow: 3px 3px #17483C;
}

.register-link {
    color: #17483C;
}

.register-link:hover{
    color: #2FC09D;
}

.registration-header {
    margin-left: 100px;
}
.registration-body {
    margin-top: 10px;
    background-color: lightgray;
}
